<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form id="form">
            <div>
                <label for="username">
                    Username: 
                    <input type="text" id="username" name="username" placeholder="username" required />
                </label>
            </div>
            <div>
                <label for="password">
                    Password: 
                    <input type="password" id="password" name="password" placeholder="password" required />
                </label>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>

        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script>$(document).ready(function () {
            $('#form').on('submit', function (ev) {
                ev.preventDefault();

                console.info('username', $('#username').val())
                console.info('password', $('#password').val())

                $.post('/api/auth/login', {
                    username: $('#username').val(),
                    password: $('#password').val()
                }, function (data) {
                    localStorage.setItem('username', $('#username').val());
                    localStorage.setItem('token', data.token);
                    window.location = '/';
                })
                .fail(function(xhr) {
                    if (xhr.responseJSON && xhr.responseJSON.msg) {
                        alert(xhr.responseJSON.msg);
                    } else {
                        alert('Unknown Error');
                    }
                })
            })
        });</script>
    </body>
</html>